<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <link rel="icon" type="image/svg+xml" href="/vite.svg" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link
            rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css"
        />
        <link rel="stylesheet" href="/src/styles/main.css" />
        <title>my-project</title>
    </head>
    <body>
        <header class="h-[70px]"></header>
            <div class="container flex h-full items-center">
                <img
                    src="../src/assets/images/7ed1b2a4-7810-4fd1-bd97-64a10f193402.png"
                    alt="Jimdo Logo"
                    class="w-28 object-contain"
                />
            </div>
        </header>
        
        <script type="module" src="/src/main.ts"></script>
        <script src="./node_modules/flowbite/dist/flowbite.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/@tailwindplus/elements@1" type="module"></script>
        <script src="./src/index.js"></script>
    </body>
</html>
