<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <link rel="icon" type="image/svg+xml" href="/vite.svg" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link
            rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css"
        />
        <link rel="stylesheet" href="/src/styles/main.css" />
        <title>my-project</title>
    </head>
    <body>
        <section class="login-page flex flex-col items-center justify-center pb-[40px]">
            <div class="flex h-[64px] w-full items-center justify-center">
                <a href="/templates/homepage.html">
                    <img
                        src="./src/assets/images/7ed1b2a4-7810-4fd1-bd97-64a10f193402.png"
                        alt=""
                        class="max-h-8.25 max-w-22.5"
                    />
                </a>
            </div>
            <div class="max-w-[420px] p-[20px] shadow-sm">
                <div class="login-forms-container max-w-[380px] p-[40px]">
                    <h1 class="mb-2 text-[20px]">Welcome back</h1>
                    <p class="mb-10">You can log in to your Jimdo account here.</p>
                    <div
                        class="login-forms grid text-center [&>a]:mb-4 [&>a]:w-full [&>a]:border [&>a]:px-4 [&>a]:py-2"
                    >
                        <a href="#"
                            ><i class="fa-brands fa-google"></i><span>Log in with Google</span></a
                        >
                        <a href="#"
                            ><i class="fa-brands fa-facebook"></i
                            ><span>Log in with Facebook</span></a
                        >
                        <a href="#"
                            ><i class="fa-brands fa-apple"></i><span>Log in with Apple</span></a
                        >
                    </div>
                    <div class="mt-4 mb-7 flex items-center gap-3 text-center text-gray-900">
                        <span class="h-px flex-1 bg-gray-300"></span>
                        <span>or</span>
                        <span class="h-px flex-1 bg-gray-300"></span>
                    </div>
                    <form action="#" method="post" class="w-full [&_input]:py-3 [&>div]:w-full">
                        <div class="mb-4 border px-3">
                            <span><i class="fa-regular fa-envelope"></i></span>
                            <input type="email" name="email" id="email" placeholder="Email" />
                        </div>
                        <div class="mb-4 border px-3">
                            <span><i class="fa-solid fa-lock"></i></span>
                            <input
                                type="password"
                                name="password"
                                id="password"
                                placeholder="Password"
                            />
                        </div>
                        <div class="mb-10">
                            <a href="#" class="text-blue-600">Forgot your password?</a>
                        </div>
                        <button type="button" class="mb-4 w-full bg-blue-600 px-4 py-2 text-white">
                            Log in
                        </button>
                    </form>
                    <hr class="mt-5 mb-7 text-gray-200" />
                    <div>
                        <p class="mb-4 text-center">New here?</p>
                        <a
                            href="./templates/sign-up.html"
                            class="mb-4 inline-block w-full border border-blue-400 px-4 py-2 text-center text-blue-600"
                            ><span>Sign Up</span></a
                        >
                    </div>
                </div>
            </div>
            <div class="pt-[80px] text-gray-500">
                <a href="#">Legal Notice</a> <a href="#">Privacy Policy</a>
            </div>
        </section>

        <script type="module" src="/src/main.ts"></script>
        <script src="./node_modules/flowbite/dist/flowbite.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/@tailwindplus/elements@1" type="module"></script>
        <script src="./src/index.js"></script>
    </body>
</html>
