<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <link rel="icon" type="image/svg+xml" href="/vite.svg" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link
            rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css"
        />
        <link rel="stylesheet" href="/src/styles/main.css" />
        <title>my-project</title>
    </head>
    <body>
        <section class="login-page flex flex-col items-center justify-center pb-[40px]">
            <div class="flex h-[64px] w-full items-center justify-center">
                <img
                    src="./src/assets/images/7ed1b2a4-7810-4fd1-bd97-64a10f193402.png"
                    alt=""
                    class="max-h-8.25 max-w-22.5"
                />
            </div>
            <div class="max-w-[420px] p-[20px] shadow-sm">
                <div class="login-forms-container max-w-[380px] p-[40px]">
                    <h1 class="mb-2 text-[20px]">First, sign up free</h1>
                    <p class="mb-10">
                        Continue with a free account to start your website or store. We hate
                        paperwork too.
                    </p>
                    <div
                        class="login-forms grid text-center [&>a]:mb-4 [&>a]:border-green-50 [&>a]:w-full [&>a]:border [&>a]:px-4 [&>a]:py-2 [&>a]:shadow-sm"
                    >
                        <a href="#"
                            ><i class="fa-brands fa-google"></i><span>Continue with Google</span></a
                        >
                        <a href="#"
                            ><i class="fa-brands fa-facebook"></i
                            ><span>Log in with Facebook</span></a
                        >
                        <a href="#"
                            ><i class="fa-brands fa-apple"></i><span>Continue with Apple</span></a
                        >
                        <a href="#"
                            ><i class="fa-regular fa-envelope"></i
                            ><span>Continue with email</span></a
                        >
                    </div>
                    <div>
                        <p class="mb-4 text-center">Already registered?</p>
                        <a
                            href="/templates/login.html"
                            class="mb-4 inline-block w-full border border-blue-400 px-4 py-2 text-center text-blue-600"
                            ><span>Log In</span></a
                        >
                    </div>
                </div>
            </div>
            <div class="pt-[80px] text-gray-500">
                <a href="#">Legal Notice</a> <a href="#">Privacy Policy</a>
            </div>
        </section>

        <script type="module" src="/src/main.ts"></script>
        <script src="./node_modules/flowbite/dist/flowbite.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/@tailwindplus/elements@1" type="module"></script>
        <script src="./src/index.js"></script>
    </body>
</html>
